input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 1px solid grey;
    float: left;
    width: 80%;
  }

  button {
    float: left;
    width: 70%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border: none;
    cursor: pointer;
  }

  .forecast-card{
      background-color: navy;
      color: white;
  }